footer {
  background-color: var(--color-four);
  padding: 3rem 0 1.5rem;
}
.daybreak-footer__content-top {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
}
.daybreak-footer__content-top-item {
  width: 100%;
}
.newsletter-container {
  width: 100%;
}
.newsletter-field-wrapper {
  margin: 10px 0;
}
input[type="email"] {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}
button {
  padding: .5rem 1rem;
  cursor: pointer;
}
.newsletter-input-label-button-container {
  display: flex;
}
#footer-social {
  width: 100%;
  margin: auto;
  justify-content: start;
}
#footer-social > h4 {
  margin-right: 3rem;
}
#footer-social > a {
  margin-right: 2.5rem;
}
#footer-social > a:last-of-type {
  margin-right: 0;
}
.footer > hr {
  margin: 1rem 0;
}
.daybreak-footer-links {
  display: flex;
  flex-direction: row;
}
.footer-link-block {
  margin-right: 3rem;
}
.footer-link-block:last-of-type {
  margin-right: 0;
}
#footer-third-party-logos {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
#footer-cotton-logo {
  place-self: center;
  width: 25%;
  min-width: 50px;
  max-width: 150px;
}
.footer-block-link-list {
  list-style: none;
  line-height: 1.5;
}
.footer-link-item {
  text-decoration: none;
  color: var(--color-primary);
}
.footer-policy-links {
  justify-content: center;
}
.footer-policy-links > li {
  margin-right: 1rem;
}
.footer-policy-links > li:last-of-type {
  margin-right: 0;
}
.daybreak-footer__content-bottom small.copyright__content {
  display: block;
  text-align: center;
  line-height: 2;
}
#footer-cobi-logo-horizontal {
  margin: auto;
  text-align: left;
}
#footer-cobi-logo-horizontal > svg {
  max-width: 800px;
  margin-left: -6px;
}
@media screen and (min-width: 768px) {
  .daybreak-footer__content-top {
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    column-gap: 2rem;
    padding: 0 3rem;
  }
  .footer-block--newsletter .newsletter-form {
    width: 95%;
    margin: 0 auto 0 0;
    max-width: 28rem;
  }
  #footer-cotton-logo {
    min-width: 100px;
  }
  #footer-cobi-logo-horizontal {
    text-align: left;
  }
  #footer-social {
    grid-row: 2;
    grid-column: 1;
  }
  #footer-third-party-logos {
    grid-row: 3;
  }
}
@media screen and (min-width: 1080px) {
  .daybreak-footer__content-top {
    column-gap: 4rem;
  }
}
